USE [master]
GO
/****** Object:  Database [TicketingSystem]    Script Date: 21/10/2025 2:41:30 am ******/
CREATE DATABASE [TicketingSystem]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'TicketingSystem', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL16.SQLEXPRESS\MSSQL\DATA\TicketingSystem.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'TicketingSystem_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL16.SQLEXPRESS\MSSQL\DATA\TicketingSystem_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
 WITH CATALOG_COLLATION = DATABASE_DEFAULT, LEDGER = OFF
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [TicketingSystem].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [TicketingSystem]
GO
/****** Object:  Table [dbo].[Admins]    Script Date: 21/10/2025 2:41:30 am ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Admins](
	[admin_id] [int] IDENTITY(1,1) NOT NULL,
	[fullname] [nvarchar](100) NOT NULL,
	[username] [nvarchar](50) NOT NULL,
	[password] [nvarchar](255) NOT NULL,
	[date_created] [datetime] NULL,
PRIMARY KEY CLUSTERED 
(
	[admin_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[BookingRecords]    Script Date: 21/10/2025 2:41:30 am ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[BookingRecords](
	[BookingNumber] [varchar](50) NULL,
	[qr] [image] NULL,
	[FirstName] [varchar](100) NULL,
	[MiddleName] [varchar](100) NULL,
	[LastName] [varchar](100) NULL,
	[Month] [varchar](20) NULL,
	[Day] [varchar](20) NULL,
	[Year] [varchar](20) NULL,
	[Age] [int] NULL,
	[Gender] [varchar](10) NULL,
	[HouseNo] [varchar](255) NULL,
	[Street] [varchar](255) NULL,
	[Subdivision] [varchar](255) NULL,
	[Barangay] [varchar](255) NULL,
	[City] [varchar](150) NULL,
	[ZipCode] [varchar](20) NULL,
	[EmailAddress] [varchar](150) NULL,
	[ContactNo] [varchar](50) NULL,
	[EmergencyContactName] [varchar](150) NULL,
	[EmergencyContactNo] [varchar](50) NULL,
	[PassengerNo] [int] NULL,
	[SeatNo] [varchar](50) NULL,
	[BusClassType] [varchar](50) NULL,
	[TerminalDeparture] [varchar](100) NULL,
	[DateDeparture] [date] NULL,
	[TimeDeparture] [varchar](10) NULL,
	[TerminalDestination] [varchar](100) NULL
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[BusRecords]    Script Date: 21/10/2025 2:41:30 am ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[BusRecords](
	[BusNumber] [varchar](50) NOT NULL,
	[PlateNumber] [varchar](100) NULL,
	[BusModel] [varchar](100) NULL,
	[YearModel] [int] NULL,
	[SeatingCapacity] [int] NULL,
	[Type] [varchar](100) NULL,
	[Status] [varchar](100) NULL,
	[FuelType] [varchar](100) NULL,
	[ColorDesign] [varchar](100) NULL,
	[DriverAssigned] [varchar](100) NULL,
	[RemarksNotes] [varchar](100) NULL,
PRIMARY KEY CLUSTERED 
(
	[BusNumber] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[EmployeeRecords]    Script Date: 21/10/2025 2:41:30 am ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[EmployeeRecords](
	[EmployeeNumber] [varchar](100) NOT NULL,
	[Department] [varchar](100) NULL,
	[DateHired] [date] NULL,
	[FirstName] [varchar](100) NULL,
	[MiddleName] [varchar](100) NULL,
	[LastName] [varchar](100) NULL,
	[Gender] [varchar](50) NULL,
	[Month] [varchar](50) NULL,
	[Day] [int] NULL,
	[Year1] [int] NULL,
	[EmailAddress] [varchar](100) NULL,
	[ContactNumber] [varchar](50) NULL,
	[HouseNo] [varchar](100) NULL,
	[Street] [varchar](100) NULL,
	[Subdivision] [varchar](100) NULL,
	[Barangay] [varchar](100) NULL,
	[City] [varchar](100) NULL,
	[ZipCode] [varchar](100) NULL,
PRIMARY KEY CLUSTERED 
(
	[EmployeeNumber] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[LoginHistory]    Script Date: 21/10/2025 2:41:30 am ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[LoginHistory](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[Fullname] [nvarchar](100) NULL,
	[Username] [nvarchar](50) NULL,
	[UserType] [nvarchar](20) NULL,
	[LoginTime] [datetime] NULL,
	[LogoutTime] [datetime] NULL,
PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[MaintenanceRecords]    Script Date: 21/10/2025 2:41:30 am ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[MaintenanceRecords](
	[MaintenanceID] [varchar](50) NOT NULL,
	[BusNumber] [varchar](100) NULL,
	[DateMaintenance] [date] NULL,
	[MaintenanceType] [varchar](100) NULL,
	[PartsRepaired] [varchar](100) NULL,
	[ServiceDescription] [varchar](100) NULL,
	[ServiceProvider] [varchar](100) NULL,
	[NextMaintenance] [date] NULL,
	[Remarks] [varchar](100) NULL,
PRIMARY KEY CLUSTERED 
(
	[MaintenanceID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[RouteRecords]    Script Date: 21/10/2025 2:41:30 am ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[RouteRecords](
	[RouteID] [varchar](50) NOT NULL,
	[RouteName] [varchar](100) NULL,
	[StartingPoint] [varchar](150) NULL,
	[EndPoint] [varchar](150) NULL,
	[RestStops] [varchar](255) NULL,
	[Distance] [decimal](10, 2) NULL,
	[EstimatedTime] [varchar](50) NULL,
	[BusOperator] [varchar](100) NULL,
	[TypeOfService] [varchar](50) NULL,
	[Schedule] [varchar](255) NULL,
	[Status] [varchar](50) NULL,
PRIMARY KEY CLUSTERED 
(
	[RouteID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[TerminalRecords]    Script Date: 21/10/2025 2:41:30 am ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[TerminalRecords](
	[TerminalID] [varchar](100) NOT NULL,
	[TerminalName] [varchar](100) NULL,
	[Location] [varchar](100) NULL,
	[City] [varchar](100) NULL,
	[Region] [varchar](100) NULL,
	[OperatingHours] [varchar](100) NULL,
	[NumberOfPlatforms] [int] NULL,
	[Status] [varchar](100) NULL,
	[Restrooms] [varchar](100) NULL,
	[WaitingArea] [varchar](100) NULL,
	[Parking] [varchar](100) NULL,
	[FoodStalls] [varchar](100) NULL,
	[TicketingBooths] [varchar](100) NULL,
PRIMARY KEY CLUSTERED 
(
	[TerminalID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Users]    Script Date: 21/10/2025 2:41:30 am ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Users](
	[user_id] [int] IDENTITY(1,1) NOT NULL,
	[fullname] [nvarchar](100) NOT NULL,
	[username] [nvarchar](50) NOT NULL,
	[password] [nvarchar](255) NOT NULL,
	[date_created] [datetime] NULL,
PRIMARY KEY CLUSTERED 
(
	[user_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
SET IDENTITY_INSERT [dbo].[Admins] ON 

INSERT [dbo].[Admins] ([admin_id], [fullname], [username], [password], [date_created]) VALUES (1, N'Dcsa Valenzuela', N'dcsa.admin@victoryliner.com', N'admin', CAST(N'2025-10-15T23:40:09.087' AS DateTime))
SET IDENTITY_INSERT [dbo].[Admins] OFF
GO
INSERT [dbo].[BusRecords] ([BusNumber], [PlateNumber], [BusModel], [YearModel], [SeatingCapacity], [Type], [Status], [FuelType], [ColorDesign], [DriverAssigned], [RemarksNotes]) VALUES (N'BUS-00-2025-001', N'NAY 1234
', N'Hino Selega', 2020, 49, N'Ordinary', N'Active', N'Diesel', N'Red-Yellow-Gray Stripes', N'Juan Dela Cruz', N'Regular Class – Non-aircon or basic air-conditioned, cheapest fare.')
INSERT [dbo].[BusRecords] ([BusNumber], [PlateNumber], [BusModel], [YearModel], [SeatingCapacity], [Type], [Status], [FuelType], [ColorDesign], [DriverAssigned], [RemarksNotes]) VALUES (N'BUS-00-2025-002', N'NBD 5678', N'Hyundai Universe', 2021, 45, N'Airconditioned', N'Retired', N'Diesel', N'Red-Yellow-Gray Stripes', N'Pedro Ramos', N'Deluxe Class – Air-conditioned, more legroom, no CR.')
INSERT [dbo].[BusRecords] ([BusNumber], [PlateNumber], [BusModel], [YearModel], [SeatingCapacity], [Type], [Status], [FuelType], [ColorDesign], [DriverAssigned], [RemarksNotes]) VALUES (N'BUS-00-2025-003', N'NCF 9012', N'Higer KLQ6129', 2019, 49, N'Airconditioned', N'Active', N'Diesel', N'Red-Yellow-Gray Stripes', N'Roberto Villanueva', N'Super Deluxe – Air-conditioned with CR, more spacious than Deluxe.')
GO
INSERT [dbo].[EmployeeRecords] ([EmployeeNumber], [Department], [DateHired], [FirstName], [MiddleName], [LastName], [Gender], [Month], [Day], [Year1], [EmailAddress], [ContactNumber], [HouseNo], [Street], [Subdivision], [Barangay], [City], [ZipCode]) VALUES (N'EMP-00-2025-001', N'Department of Operations', CAST(N'2022-05-14' AS Date), N'MARIA', N'SANTOS', N'CRUZ', N'Female', N'February', 18, 1999, N'maria.cruz@gmail.com', N'09171234583', N'12-A', N'RIZAL STREET', N'GREEN VALLEY HOMES', N' BAESA', N'MAKATI CITY', N'1106')
INSERT [dbo].[EmployeeRecords] ([EmployeeNumber], [Department], [DateHired], [FirstName], [MiddleName], [LastName], [Gender], [Month], [Day], [Year1], [EmailAddress], [ContactNumber], [HouseNo], [Street], [Subdivision], [Barangay], [City], [ZipCode]) VALUES (N'EMP-00-2025-002', N'Department of Customer Service & Support', CAST(N'2023-11-23' AS Date), N'Joshua', N'Reyes', N'Mendoza', N'Male', N'July', 9, 1999, N'joshua.mendoza@datamex.com', N'09281234584', N'Unit 304', N'Mabini Avenue', N'Sunrise Village', N'San Isidro', N'Pasig City', N'1400')
INSERT [dbo].[EmployeeRecords] ([EmployeeNumber], [Department], [DateHired], [FirstName], [MiddleName], [LastName], [Gender], [Month], [Day], [Year1], [EmailAddress], [ContactNumber], [HouseNo], [Street], [Subdivision], [Barangay], [City], [ZipCode]) VALUES (N'EMP-00-2025-003', N'Department of Maintenance & Technical', CAST(N'2021-01-30' AS Date), N'Angelo', N'Dela Cruz', N'Ramirez', N'Female', N'May', 20, 2002, N'angela.ramirez@datamex.com', N'09193456785', N'Lot 10', N'Bonifacio Street', N'Golden Fields', N'Sta. Lucia', N'Marikina City', N'1600')
GO
SET IDENTITY_INSERT [dbo].[LoginHistory] ON 

INSERT [dbo].[LoginHistory] ([Id], [Fullname], [Username], [UserType], [LoginTime], [LogoutTime]) VALUES (1, N'Dcsa Valenzuela', N'dcsa.admin@victoryliner.com', N'Admin', CAST(N'2025-10-18T11:23:30.827' AS DateTime), CAST(N'2025-10-18T11:23:43.180' AS DateTime))
INSERT [dbo].[LoginHistory] ([Id], [Fullname], [Username], [UserType], [LoginTime], [LogoutTime]) VALUES (2, N'Dcsa Valenzuela', N'dcsa@victoryliner.com', N'User', CAST(N'2025-10-18T11:23:55.050' AS DateTime), CAST(N'2025-10-18T11:23:59.303' AS DateTime))
INSERT [dbo].[LoginHistory] ([Id], [Fullname], [Username], [UserType], [LoginTime], [LogoutTime]) VALUES (3, N'Dcsa Valenzuela', N'dcsa.admin@victoryliner.com', N'Admin', CAST(N'2025-10-18T11:24:11.110' AS DateTime), CAST(N'2025-10-18T11:25:12.720' AS DateTime))
SET IDENTITY_INSERT [dbo].[LoginHistory] OFF
GO
INSERT [dbo].[MaintenanceRecords] ([MaintenanceID], [BusNumber], [DateMaintenance], [MaintenanceType], [PartsRepaired], [ServiceDescription], [ServiceProvider], [NextMaintenance], [Remarks]) VALUES (N'MTN-00-2025-001', N'BUS-00-2025-007', CAST(N'2025-09-05' AS Date), N'Engine Oil Change', N'Oil Filter, Engine Oil', N'Changed Oil and Filter, Checked Engine Performance', N'Lauren Dela Cruz Bautista', CAST(N'2025-12-05' AS Date), N'No issues found after service.')
INSERT [dbo].[MaintenanceRecords] ([MaintenanceID], [BusNumber], [DateMaintenance], [MaintenanceType], [PartsRepaired], [ServiceDescription], [ServiceProvider], [NextMaintenance], [Remarks]) VALUES (N'MTN-00-2025-002', N'BUS-00-2025-008', CAST(N'2025-09-06' AS Date), N'Brake System Repair', N'Brake Pads, Brake Fluid', N'Replaced Brake Pads and Refilled Brake Fluid', N'Mark Reyes Gonzales', CAST(N'2025-11-06' AS Date), N'Test run successful')
INSERT [dbo].[MaintenanceRecords] ([MaintenanceID], [BusNumber], [DateMaintenance], [MaintenanceType], [PartsRepaired], [ServiceDescription], [ServiceProvider], [NextMaintenance], [Remarks]) VALUES (N'MTN-00-2025-003', N'BUS-00-2025-012', CAST(N'2025-09-07' AS Date), N'Tire Replacement', N'Front Tires (2)', N'Replaced worn Front Tires, Balanced Wheels', N'Angelo Dela Cruz Ramirez', CAST(N'2026-03-07' AS Date), N'Recommended wheel alignment next service.')
GO
INSERT [dbo].[RouteRecords] ([RouteID], [RouteName], [StartingPoint], [EndPoint], [RestStops], [Distance], [EstimatedTime], [BusOperator], [TypeOfService], [Schedule], [Status]) VALUES (N'RT-2025-001', N'Pasay to Alaminos', N'Pasay', N'Alaminos, Pangasinan', N'Tarlac, Dagupan', CAST(240.50 AS Decimal(10, 2)), N'5h 30m', N'Victory Liner', N'Regular', N'Daily 05:00–22:00', N'Active')
INSERT [dbo].[RouteRecords] ([RouteID], [RouteName], [StartingPoint], [EndPoint], [RestStops], [Distance], [EstimatedTime], [BusOperator], [TypeOfService], [Schedule], [Status]) VALUES (N'RT-2025-002', N'Dagupan to Cubao', N'Dagupan, Pangasinan', N'Cubao', N'Tarlac, San Fernando', CAST(210.20 AS Decimal(10, 2)), N'5h 00m', N'Five Star', N'Aircon', N'Daily 04:00–21:00', N'Active')
INSERT [dbo].[RouteRecords] ([RouteID], [RouteName], [StartingPoint], [EndPoint], [RestStops], [Distance], [EstimatedTime], [BusOperator], [TypeOfService], [Schedule], [Status]) VALUES (N'RT-2025-003', N'Clark to Baguio', N'Clark', N'Baguio', N'Tarlac, Rosario', CAST(165.80 AS Decimal(10, 2)), N'3h 30m', N'Genesis', N'Deluxe', N'Daily 06:00–22:00', N'Active')
GO
INSERT [dbo].[TerminalRecords] ([TerminalID], [TerminalName], [Location], [City], [Region], [OperatingHours], [NumberOfPlatforms], [Status], [Restrooms], [WaitingArea], [Parking], [FoodStalls], [TicketingBooths]) VALUES (N'TRMNL-00-2025-001', N'Cubao Bus Terminal', N'EDSA cor. Aurora Blvd., Cubao', N'Quezon City', N'NCR', N'24/7', 20, N'Active', N'YES', N'YES', N'YES', N'YES', N'YES')
INSERT [dbo].[TerminalRecords] ([TerminalID], [TerminalName], [Location], [City], [Region], [OperatingHours], [NumberOfPlatforms], [Status], [Restrooms], [WaitingArea], [Parking], [FoodStalls], [TicketingBooths]) VALUES (N'TRMNL-00-2025-002', N'Pasay Bus Terminal', N'Domestic Road, Pasay City', N'Pasay City', N'NCR', N'24/7', 15, N'Active', N'YES', N'YES', N'YES', N'YES', N'YES')
INSERT [dbo].[TerminalRecords] ([TerminalID], [TerminalName], [Location], [City], [Region], [OperatingHours], [NumberOfPlatforms], [Status], [Restrooms], [WaitingArea], [Parking], [FoodStalls], [TicketingBooths]) VALUES (N'TRMNL-00-2025-003', N'Clark International Bus Terminal', N'Clark Freeport Zone', N'Angeles City', N'Central Luzon', N'5:00 AM – 10:00 PM', 10, N'Active', N'NO', N'YES', N'YES', N'NO', N'YES')
GO
SET IDENTITY_INSERT [dbo].[Users] ON 

INSERT [dbo].[Users] ([user_id], [fullname], [username], [password], [date_created]) VALUES (1, N'Dcsa Valenzuela', N'dcsa@victoryliner.com', N'admin', CAST(N'2025-10-15T23:39:30.237' AS DateTime))
SET IDENTITY_INSERT [dbo].[Users] OFF
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [UQ__Admins__F3DBC5726EBE19C3]    Script Date: 21/10/2025 2:41:31 am ******/
ALTER TABLE [dbo].[Admins] ADD UNIQUE NONCLUSTERED 
(
	[username] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [UQ__Users__F3DBC572C2A3575B]    Script Date: 21/10/2025 2:41:31 am ******/
ALTER TABLE [dbo].[Users] ADD UNIQUE NONCLUSTERED 
(
	[username] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
ALTER TABLE [dbo].[Admins] ADD  DEFAULT (getdate()) FOR [date_created]
GO
ALTER TABLE [dbo].[Users] ADD  DEFAULT (getdate()) FOR [date_created]
GO
USE [master]
GO
